<hr />
<footer>

    <div class="copyright">
        Vacationey 2024 &copy;
    </div>
    <div class="links">
            <img src="/images/icons/github.png" alt="GITHUB">
        <a href="/home">
            <img src="/images/icons/logo.png" alt="LOGO">
        </a>
    </div>
    <div id="zegar"></div>
</footer>
