<header>

    <nav class="menu" id="bigMenu">
        <a class="logo" href="home">
            Conference booking platform
        </a>

        <div class="dropdown">
            <div class="dropbtn">Manage</div>
            <div class="dropdown-content">
                <a class="dropbtn" href="room">Rooms</a>
                <a class="dropbtn" href="equipment">Equipments</a>
                <a class="dropbtn" href="user">Users</a>
            </div>
        </div>

        <div class="dropdown">
            <div class="dropbtn">Create</div>
            <div class="dropdown-content">
                <a class="dropbtn" href="room/create">Room</a>
                <a class="dropbtn" href="equipment/create">Equipment</a>
                <a class="dropbtn" href="booking/create">Booking</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn" href="room">Rooms</a>
        </div>

    </nav>

</header>