@* @inherits LayoutComponentBase

<div class="page">
    @Body
</div>
 *@


@inherits LayoutComponentBase

@inject IBookingService _bookingService

<div class="main">
    <div class="content">
        @Body
    </div>
</div>

@code {
    private List<BookingDto> _bookingList = new List<BookingDto>();

    protected override async Task OnInitializedAsync()
    {
        _bookingList = await _bookingService.GetAll();
    }
}