@page "/room"
@inject IRoomService _roomService


<div style="margin-top: 220px;">

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Country
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in _roomList)
        {
            <RoomComponent Room="room" OnRoomDeleted="HandleRoomDeleted" />
        }
    </tbody>
</table>
</div>

@code {
    private List<RoomDto> _roomList = new List<RoomDto>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _roomList = _roomService.GetAll();
    }

    private async Task HandleRoomDeleted(int roomId)
    {
        // Remove the deleted city from the list
        var roomToRemove = _roomList.FirstOrDefault(o => o.RoomId == roomId);
        if (roomToRemove != null)
        {
            _roomList.Remove(roomToRemove);
            StateHasChanged(); // Trigger re-render of this component
        }
    }
}
